/* FOOTER */

@media (max-width: 575px){

    .tamLi {
        align-items: center;
        width: 58%;
        padding-top: 40%;
        margin-top: 10%;
        padding-bottom: 15%;
        

    }

    .tamBe {
        align-items: center;
        width: 55%;
        padding-top: 40%;
        
    }

    .footer {
        background-color: $black;
    }

    .footer .social {
        text-align: center;
        justify-content: end;
        padding-bottom: 25px;    
        margin-left: 1%;
    }

    .footer .social a {
        font-size: 24px;
        border: 1px solidcolor $white;
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .footer .social a:hover {
        opacity: 0.5;
    }

    .footer .copyright {
        font-family: "Roboto";
        margin-top: 6px;
        padding-bottom: 5%;
        text-align: center;
        font-size: 0.8rem;
        color: #aaa;
        

    } 
}
@media (min-width: 576px) and (max-width: 767px){
    .tamLi {
        align-items: center;
        width: 58%;
        padding-top: 40%;
        margin-top: 10%;
        padding-bottom: 15%;
        

    }

    .tamBe {
        align-items: center;
        width: 55%;
        padding-top: 40%;
        
    }

    .footer {
        background-color: $black;;
    }

    .footer .social {
        text-align: center;
        justify-content: end;
        padding-bottom: 25px;    
        margin-left: 1%;
    }

    .footer .social a {
        font-size: 24px;
        border: 1px solidcolor $white;
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .footer .social a:hover {
        opacity: 0.5;
    }

    .footer .copyright {
        font-family: "Roboto";
        margin-top: 6px;
        padding-bottom: 5%;
        text-align: center;
        font-size: 0.8rem;
        color: #aaa;
        

    }
}
@media (min-width: 768px) and (max-width: 991px){

    .tamLi {
        align-items: center;
        width: 58%;
        padding-top: 40%;
        margin-top: 10%;
        padding-bottom: 15%;
        

    }

    .tamBe {
        align-items: center;
        width: 55%;
        padding-top: 40%;
        
    }

    .footer {
        background-color: $black;
    }

    .footer .social {
        text-align: center;
        justify-content: end;
        padding-bottom: 25px;    
        margin-left: 1%;
    }

    .footer .social a {
        font-size: 24px;
        border: 1px solidcolor $white;
        width: 40px;
        height: 40px;
        display: inline-block;
    }

    .footer .social a:hover {
        opacity: 0.5;
    }

    .footer .copyright {
        font-family: "Roboto";
        margin-top: 6px;
        padding-bottom: 5%;
        text-align: center;
        font-size: 0.8rem;
        color: #aaa;
        

    }
}
@media (min-width: 992px) and (max-width: 1199px){


    .tamLi {
        align-items: center;
        width: 58%;
        padding-top: 40%;
        margin-top: 10%;
        
    
    }
    
    .tamBe {
        align-items: center;
        width: 55%;
        padding-top: 50%;
        
    }
    
    .footer {
        padding: 10px 0;
        background-color: $black;
        margin: 2% 5% 0% 5%;
    }
    
    .footer .social {
        text-align: center;
        justify-content: end;
        padding-bottom: 25px;    
        margin-left: 1%;
    }
    
    .footer .social a {
        font-size: 24px;
        border: 1px solidcolor $white;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    
    .footer .social a:hover {
        opacity: 0.5;
    }
    
    
    .footer .copyright {
        font-family: "Roboto";
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){

    .tamLi {
        align-items: center;
        width: 58%;
        padding-top: 40%;
        margin-top: 10%;
        
    
    }
    
    .tamBe {
        align-items: center;
        width: 55%;
        padding-top: 50%;
        
    }
    
    .footer {
        padding: 10px 0;
        background-color: $black;
        margin: 2% 5% 0% 5%;
    }
    
    .footer .social {
        text-align: center;
        justify-content: end;
        padding-bottom: 25px;    
        margin-left: 1%;
    }
    
    .footer .social a {
        font-size: 24px;
        border: 1px solidcolor $white;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    
    .footer .social a:hover {
        opacity: 0.5;
    }
    
    
    .footer .copyright {
        font-family: "Roboto";
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }
}
@media (min-width: 1400px){

    .tamLi {
        align-items: center;
        width: 58%;
        padding-top: 40%;
        margin-top: 10%;
        
    
    }
    
    .tamBe {
        align-items: center;
        width: 58%;
        padding-top: 53%;
        
    }
    
    .footer {
        padding: 10px 0;
        background-color: $black;
        margin: 2% 5% 0% 5%;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }
    
    .footer .social {
        text-align: center;
        justify-content: end;
        padding-bottom: 25px;    
        margin-left: 1%;
    }
    
    .footer .social a {
        font-size: 24px;
        border: 1px solidcolor $white;
        width: 40px;
        height: 40px;
        display: inline-block;
    }
    
    .footer .social a:hover {
        opacity: 0.5;
    }
    
    
    .footer .copyright {
        font-family: "Roboto";
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
    }
}