/*NAVBAR*/


@media (max-width: 575px){

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .navbar {
        background-color: $white;
        --bs-navbar-color:  $black;
        --bs-navbar-hover-color:$violet;
        margin: 2% 2%;
    }

    .navbar-toggler {
        color: $black;
        border: none;
        font-family: "Roboto";
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    .nav-item{
        margin-left: 50%;
    }
    
    
    .nav-link {
        background-color: $black;
        color:$white;
        font-family: "Roboto";
        font-size: 0.9rem;
        padding-left: 5%;    
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }    
}
@media (min-width: 576px) and (max-width: 732px){
    

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .navbar {
        background-color: $white;
        --bs-navbar-color:  $black;
        --bs-navbar-hover-color:$violet;
        margin: 2% 2%;
    }

    .navbar-toggler {
        color: $black;
        border: none;
        font-family: "Roboto";
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    .nav-item{
        margin-left: 50%;
    }
    
    
    .nav-link {
        background-color: $black;
        color:$white;
        font-family: "Roboto";
        font-size: 0.9rem;
        padding-left: 5%;    
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }


}
@media (min-width: 733px) and (max-width: 767px){

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .navbar {
        background-color: $white;
        --bs-navbar-color:  $black;
        --bs-navbar-hover-color:$violet;
        margin: 2% 2%;
    }

    .navbar-toggler {
        color: $black;
        border: none;
        font-family: "Roboto";
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    .nav-item{
        margin-left: 50%;
    }
    
    
    .nav-link {
        background-color: $black;
        color:$white;
        font-family: "Roboto";
        font-size: 0.9rem;
        padding-left: 5%;    
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }



}
@media (min-width: 768px) and (max-width: 991px){

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .navbar {
        background-color: $white;
        --bs-navbar-color:  $black;
        --bs-navbar-hover-color:$violet;
        margin: 2% 2%;
    }

    .navbar-toggler {
        color: $black;
        border: none;
        font-family: "Roboto";
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: none;
        box-shadow: none;
    }

    .nav-item{
        margin-left: 50%;
    }
    
    
    .nav-link {
        background-color: $black;
        color:$white;
        font-family: "Roboto";
        font-size: 0.9rem;
        padding-left: 5%;    
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }

}
@media (min-width: 992px) and (max-width: 1199px){

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .container-fluid {
        background-color: $black;
        --bs-navbar-color:  $white;
        --bs-navbar-hover-color:$violet;
        margin: 0% 5%;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
        font-size: 1rem;
    }

    .navbar-collapse {
        flex-grow: 0;
        margin-right: 10%;
    }

    .nav-link{
        margin: 0% 2%;
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;

    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }
}
@media (min-width: 1200px) and (max-width: 1399px){

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .container-fluid {
        background-color: $black;
        --bs-navbar-color:  $white;
        --bs-navbar-hover-color:$violet;
        margin: 0% 5%;
        padding: 0.5% 2%;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .navbar-collapse {
        flex-grow: 0;
        margin-right: 6%;
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;

    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }

}
@media (min-width:1400px){
 

    body {
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .container-fluid {
        background-color: $black;
        --bs-navbar-color:  $white;
        --bs-navbar-hover-color:$violet;
        margin: 0% 5%;
        padding: 0.5% 2%;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .navbar-collapse {
        flex-grow: 0;
        margin-right: 6%;
    }

    .imgZoom {
        cursor: pointer;
        transition: transform 0.2s ease;

    }
        
    .imgZoom:hover {
        transform: scale(1.1) ;
    }
        
}