/*THANK YOU*/

@media (max-width: 575px){

    .textT {
        text-align: center;
        margin: 60% 10% 0% 10%;
        color: #000000;
        font-family: "Roboto";

        
    }

    .tituloT {
        font-weight: 400;
        font-size: 1.5rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .subT {
        margin-top: 5%;
        font-size: 1rem;
        color: #8890f8;
    }

    .buttonT{
        align-items: center;
        margin-top: 20%;
        border-radius: 10%;

    }

    .buttonT a {
        text-decoration: none;
        color:#000000 ;

    }

    .buttonT a :hover {
        color: #8890f8;
    }


}
@media (min-width: 576px) and (max-width: 767px){

    .textT {
        text-align: center;
        margin: 55% 10% 0% 10%;
        color: #000000;
        font-family: "Roboto";

        
    }

    .tituloT {
        font-weight: 400;
        font-size: 1.8rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .subT {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #8890f8;
    }

    .buttonT{
        align-items: center;
        margin-top: 20%;
        border-radius: 10%;

    }

    .buttonT a {
        text-decoration: none;
        color:#000000 ;

    }

    .buttonT a :hover {
        color: #8890f8;
    }

}
@media (min-width: 768px) and (max-width: 991px){

    .textT {
        text-align: center;
        margin: 30% 10% 0% 10%;
        color: #000000;
        font-family: "Roboto";

        
    }

    .tituloT {
        font-weight: 400;
        font-size: 1.8rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .subT {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #8890f8;
    }

    .buttonT{
        align-items: center;
        margin-top: 20%;
        border-radius: 10%;

    }

    .buttonT a {
        text-decoration: none;
        color:#000000 ;

    }

    .buttonT a :hover {
        color: #8890f8;
    }

}
@media (min-width: 992px) and (max-width: 1199px){

    .textT {
        text-align: center;
        margin: 30% 10% 0% 10%;
        color: #000000;
        font-family: "Roboto";

        
    }

    .tituloT {
        font-weight: 400;
        font-size: 1.8rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .subT {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #8890f8;
    }

    .buttonT{
        align-items: center;
        margin-top: 20%;
        border-radius: 10%;

    }

    .buttonT a {
        text-decoration: none;
        color:#000000 ;

    }

    .buttonT a :hover {
        color: #8890f8;
    }

}
@media (min-width: 1200px) and (max-width: 1399px){

    .textT {
        text-align: center;
        margin: 30% 10% 0% 10%;
        color: #000000;
        font-family: "Roboto";

        
    }

    .tituloT {
        font-weight: 400;
        font-size: 1.8rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .subT {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #8890f8;
    }

    .buttonT{
        align-items: center;
        margin-top: 20%;
        border-radius: 10%;

    }

    .buttonT a {
        text-decoration: none;
        color:#000000 ;

    }

    .buttonT a :hover {
        color: #8890f8;
    }

}
@media (min-width: 1400px){

    .textT {
        text-align: center;
        margin-top: 15%;
        color: #000000;
        font-family: "Roboto";
        
    }

    .tituloT {
        font-weight: 400;
        font-size: 2rem;
        filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7)); 
    }

    .subT {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #8890f8;
    }

    .buttonT{
        align-items: center;
        margin-top: 12%;
        border-radius: 10%;
        font-size: 1rem;

    }

    .buttonT a {
        text-decoration: none;
        color:#000000 ;
        
    }

    .buttonT a :hover {
        color: #8890f8;
    }

}